.column-container {
  border-color: #535bf2;
  border-style: solid;
  border-width: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 16px;
}

.column {
  width: fit-content;
  min-width: 150px;
  border-color: purple;
  border-style: solid;
  border-width: 2px;
}